/* Imports for Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header format */
.header {
  padding: 50px 10%;
  text-align: center;
  background: #c37490;
  color: white;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  /* Flexbox for centering content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.header-text {
  text-align: center;
}

.image_butterfly_left,
.image_butterfly_right {
    width: 350px; 
    height: auto; 
    margin: 0 20px; 
}

  /* Style the body */
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sidebar column */
  .side {
    flex: 30%;
    padding: 20px;
  }

  .announcements {
    background: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .image_megaphone{
    width: 100px;
  }

  .announce-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .announce-text {
    font-family: "Montserrat", sans-serif;
  }

  .upcoming-events {
    background: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .image_calendar{
    width: 95px;
  }

  .event-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .event-text {
    font-family: "Montserrat", sans-serif;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    padding: 20px;
  }

  .about-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }
  
  /* When the screen is less than 700px wide, make the two columns stack on top of each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  .exec-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .executive-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between profiles */
    padding: 10px;
  }
  
  .executive-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .profile-text p {
    background: #e0d7e5;
    color: black;
    margin: 5px 0; /* Space between paragraphs */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Stack the image and text on smaller screens */
  @media (max-width: 768px) {
    .executive-profile {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .executive-image {
      margin-bottom: 20px; /* Space between the image and text when stacked */
    }
  }  

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }