 /* Bordered form */
 form {
    border: 3px solid white;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  /* Set label styles */
  label {
    font-family: "Montserrat", sans-serif;
  }
  
  /* Set a style for all buttons */
  button.log {
    background-color: rgb(151, 92, 163);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Girlfail" text */
  span.su {
    font-family: "Montserrat", sans-serif;
    float: left;
    padding-top: 16px;
  }

  span.psw {
    font-family: "Montserrat", sans-serif;
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } 

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }