/* Imports for Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  
/* Header format */
.header {
  padding: 50px 10%;
  text-align: center;
  background: #c37490;
  color: white;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
  /* Flexbox for centering content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 60vh; 
  min-height: 50vh; 
  width: 100%;
  flex-direction: column; /* Stack items vertically */
}

/* Wrapper for content */
.header-content {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  width: 100%;
  max-width: 1200px; 
}

  /* Style the body */
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .side {
    flex: 30%;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  .executive-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between profiles */
    padding: 10px;
  }
  
  .executive-image {
    width: 80px; /* Adjust image size */
    height: 80px; /* Adjust image size */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Space between image and text */
  }
  
  .profile-text p {
    margin: 5px 0; /* Space between paragraphs */
  }
  
  /* Responsive Design: Stack the image and text on smaller screens */
  @media (max-width: 768px) {
    .executive-profile {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .executive-image {
      margin-bottom: 20px; /* Space between the image and text when stacked */
    }
  }  