/* Global */
* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sidebar column */
  .side {
    flex: 30%;
    padding: 20px;
  }

  .announcements {
    background: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .image_megaphone{
    width: 100px;
  }

  .announce-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .announce-text {
    font-family: "Montserrat", sans-serif;
  }

  .upcoming-events {
    background: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .image_calendar{
    width: 95px;
  }

  .event-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .event-text {
    font-family: "Montserrat", sans-serif;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    padding: 20px;
  }

  .about-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }
  
  /* When the screen is less than 700px wide, make the two columns stack on top of each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  .exec-head {
    color: #6e3152;
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
  }

  .executive-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between profiles */
    padding: 10px;
  }
  
  .executive-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .profile-text p {
    background: #e0d7e5;
    color: black;
    margin: 5px 0; /* Space between paragraphs */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Stack the image and text on smaller screens */
  @media (max-width: 768px) {
    .executive-profile {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .executive-image {
      margin-bottom: 20px; /* Space between the image and text when stacked */
    }
  }  

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }